
th, td{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    align-content: center;
}
th{
    background-color: #6D3BD7;
    color: #FFFFFF;
    border-radius: 30px;
}
table{
    border-spacing: 0px;
}
section{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: #FFFFFF;

}
body{
    background-color: #F5F3FF;
}